.markdown-section {
  .inner-contents {
    margin: auto;
  }

  line-height: 1.5;

  ul,
  ol {
    padding-left: 20px;
  }

  li {
    margin: 0.5em 0;
  }

  img {
    max-width: 100%;
  }

  a {
    color: var(--mathsoc-pink);
    text-decoration: underline;
    word-break: break-word;

    @media (prefers-color-scheme: dark) {
      color: var(--mathsoc-pink-3);
    }
  }
}
