:root {
  --background: #ffffff;
  --background-2: #f8f8f8;
  --text: #222;
  --text-light: #888;
  --text-lighter: #aaa;

  --mathsoc-pink: #c60078;
  --mathsoc-pink-2: #df2498;
  --mathsoc-pink-3: #ff63aa;
  --mathsoc-pink-4: #ffbeef;

  --transition: 0.1s linear;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --background-2: #181818;
    --text: #fff;
    --text-light: #888;
    --text-lighter: #666;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  background-color: var(--background-2);
  border: none;
  outline: none;
  padding: 4px;

  &:enabled {
    cursor: pointer;
  }

  &:focus-visible {
    outline: auto;
  }
}
