.search-result {
  display: flex;
  flex-direction: column;
  background-color: var(--background-2);
  gap: 8px;
  padding: 16px;

  .result-title-section {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .result-title {
      font-size: 1.25rem;
    }

    .result-date {
      color: var(--text-light);
    }
  }

  .result-bottom-row {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  .result-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    .result-feature {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;

      background-color: var(--background);
      border-bottom: 2px solid var(--background);
      padding: 4px;
      font-size: 0.8rem;

      cursor: pointer;
      transition: var(--transition);

      &.filter-active {
        border-color: var(--mathsoc-pink);
      }

      .feature-dot {
        margin: 4px;
        width: 6px;
        height: 6px;
        background-color: white;
        border-radius: 100px;
      }

      .feature-name {
        line-height: 0;
      }
    }
  }

  .result-id {
    color: var(--text-light);
    font-size: 0.6rem;
    text-align: right;
    align-self: flex-end;
    transition: var(--transition);

    &:hover {
      color: var(--mathsoc-pink);
    }
  }
}
