.search-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 4px;
  padding-bottom: 32px;
}

.search-input {
  width: 100%;
  padding: 8px;
  outline: none;
  border-radius: 2px;
  border: none;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-top-bar {
  flex-direction: row;
  justify-content: space-between;

  .sort-button {
    gap: 4px;
    font-size: 0.8rem;
    color: var(--text-light);

    select {
      padding: 4px;
      border: none;
      background-color: var(--background-2);
      outline: none;

      option {
        padding: 4px;
      }
    }
  }
}

.pagination-row {
  align-items: center;
  gap: 4px;

  .pagination-button {
    padding: 4px;
    background-color: var(--background-2);
    border: none;

    &:enabled {
      cursor: pointer;
    }
  }

  .pagination-label {
    color: var(--text-light);
    font-size: 0.8rem;
  }
}

.filters-menu {
  width: 200px;
  text-align: left;
  gap: 1px;
  margin-right: 16px;
  background-color: var(--background-2);
  height: min-content;

  .feature-section {
    background-color: var(--background);
    align-items: flex-start;
    padding: 8px;
  }

  .feature-name {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .feature-options {
    align-items: flex-start;
    gap: 4px;
  }

  .feature-value-row {
    gap: 4px;
  }

  .feature-value {
    background-color: var(--background-1);
    font-size: 0.8rem;
    text-align: left;

    transition: var(--transition);
    color: var(--text-light);
    &.filter-active {
      color: var(--mathsoc-pink);
    }
  }
}
