.search-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 4px;
}

.search-input {
  width: 100%;
  padding: 8px;
  outline: none;
  border-radius: 2px;
  border: none;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
